<div class = container>
  <div class = "text-center">
    <div class = "title">TeachMarketへようこそ！</div>
    <p> 新規登録（無料）をして利用を開始しましょう。</p>
  </div>
  <div class = "shadow text-center">
    <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
    
      <%= render "devise/shared/error_messages", resource: resource %>
      
      <div class="field py-2">
        <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "お名前" %>
      </div>
      <div class="field py-2">
        <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", placeholder: "ユーザー名" %>
      </div>
      <div class="field py-2">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス" %>
      </div>
      <div class="field py-2">
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード"  %>
      </div>
      <div class="field py-2">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワード（確認用）"  %>
      </div>
      <div class="actions py-2">
        <%= f.submit "登録する" ,class: "btn btn-success" %>
      </div>
      
    <% end %>
    
    <%= render "devise/shared/links" %>
    
  </div>
</div>



    <%# if @minimum_password_length %>
    <em>(<%#= @minimum_password_length %></em>
    <%# end %><br />