<% @comments.each do |comment| %>
  <p><%= comment.comment_content %></p>
  <div id="rate_<%= comment.id %>"></div>
    <script>
      $('#rate_<%= comment.id %>').raty({
        size: 20,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        half: true,
        readOnly: true,
        score: <%= comment.rate %>,
      });
    </script>
  <% if comment.user == current_user %>
      <p><%= link_to  "", article_comment_path(comment.article_id, comment.id), method: :delete, remote: true, class: "far fa-trash-alt" %></p>
  <% end %>
<% end %>
