<div class="container">
<div class = "title text-center">Follow</div>
  <% if @users.exists? %>
<% @users.each do |user| %>
<div class="follow-box">
  <div class="follow-index">
<div class="row row-eq-height">
    <div class="col-md-4 mb-3">
      <div class="card grow">
        <div class="card-body">
          <h4 class="card-title">
            <%= link_to user_path(user), class: "link" do %>
              <%= attachment_image_tag user, :profile_image, fallback: "no-image.png", size:"50x50", class: "rounded-circle" %>
              <%= user.nickname %>
            <% end %>
          </h4>
          <p class="card-text"><%= user.introduction %></p>
            <div id = "follow_btn">
              <p><%= render "public/relationships/follow_btn", user: user %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
      </div>
</div>
    <% end %>
     <% else %>
      <p class = "text-center">ユーザーはいません</p>
      <% end %>
  </div>
  

