<div class = "title text-center">アプリの使い方</div>
 <div class="py-5">
   <div class="container">
     <div class="row">
       <div class="col-md-7 pt-5">
         <h2 class="pb-4">
           <i class="fas fa-search-plus mr-3"></i>
           記事を探す
         </h2>
         <p class="lead text-muted">
            ブックマーク順や評価順、タグ検索など様々な
           角度から記事を探すことができます。気になる
           記事を元に行動してみましょう。
        </p>
      </div>
      <div class="col-md-5">
        <%= image_tag asset_path("search.png", alt: "検索の画像"), class: "help-img-left" %>
      </div>
    </div>
  </div>
</div>

 <div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-7 order-md-2 pt-5">
        <h2 class="pb-4">
          <i class="fas fa-pencil-alt mr-2"></i>
          アウトプットする
        </h2>
        <p class="lead text-muted">
          ブックマーク順や評価順、タグ検索など職場
          でうまくいった仕組みやあなたの仕事のノウ
          ハウを記事として投稿しましょう。たくさん
          記事を投稿するとのランキングに名前が表示
          されます。
        </p>
      </div>
      <div class="col-md-5 order-md-1">
         <%= image_tag asset_path("post.png", alt: "投稿の画像"), class: "help-img-right" %>
      </div>
    </div>
  </div>
</div>

<div class="py-5">
   <div class="container">
     <div class="row">
       <div class="col-md-7 pt-5">
         <h2 class="pb-4">
          <i class="fas fa-folder-plus mr-2"></i>
          記事をストックする
         </h2>
         <p class="lead text-muted">
            記事をブックマークすることで後で読むことが
            できます。ブックマークした投稿をマイページ
           から見ることができます。
        </p>
      </div>
      <div class="col-md-5">
        <%= image_tag asset_path("bookmark.png", alt: "栞の画像"), class: "help-img-left" %>
      </div>
    </div>
  </div>
</div>

<div class="container pt-5">
  <h3 class="text-center pb-4">
    <i class="fas fa-tools text-muted mr-3"></i>
    その他にもたくさんの機能があります
  </h3>
  <div class="row mb-3">
    <div class="col-md-4 mb-3">
      <div class="card grow">
        <div class="card-body">
          <h4>
            <i class="fab fa-twitter mr-2"></i>
            SNSログイン
          </h4>
          <p class="lead text-muted">
            Twitterアカウントで<br>
            簡単にログインが可能です。
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card grow">
        <div class="card-body">
          <h4>
            <i class="far fa-star mr-2"></i>
            評価レビュー
          </h4>
          <p class="lead text-muted">
            記事に対して5段階で<br>
            評価を付けることができます。
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card grow">
        <div class="card-body">
          <h4>
            <i class="fas fa-crown mr-2"></i>
            ランキング
          </h4>
          <p class="lead text-muted">
            投稿数に応じて月・週・日別に<br>
            順位が分かります。
          </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-eq-height">
      <div class="col-md-4 mb-3">
        <div class="card grow">
          <div class="card-body">
            <h4>
              <i class="far fa-comment mr-2"></i>
              コメント
            </h4>
            <p class="lead text-muted">
              記事に対してコメントを<br>
              残すことができます。
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card grow">
          <div class="card-body">
            <h4>
              <i class="fas fa-retweet mr-2"></i>
              SNSシェア
            </h4>
            <p class="lead text-muted">
              TwitterやFacebooKに投稿内容を
              シェアすることができます。
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card grow">
          <div class="card-body">
            <h4>
              <i class="far fa-handshake mr-2"></i>
              フォロー
            </h4>
            <p class="lead text-muted">
              ユーザーをフォローすることで<br>
              フォローする。
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class = "text-center pb-5">
    <% if user_signed_in? %>
      <%= link_to "HOMEへ戻る", home_path, class: "navbar-brand link" %>
    <% else %>
      <%= link_to "TOPへ戻る", root_path, class: "navbar-brand link" %>
    <% end %>
  </div>


