<div class="container">
  <div class = "title text-center">HOME</div>
    <div class = "row pb-5">
      <div class = "col-2">
        <div class = "tab-position">
          <div class = "card">
            <div class="tab-area text-muted">
              <div class="tab active ">
                <i class = "fas fa-home mr-1"></i>
                新着投稿
              </div>
              <div class="tab">
                <i class="fas fa-users mr-1"></i>
                フォロワーの投稿
              </div>
              <div class="tab">
                <i class="far fa-bookmark mr-2"></i>
                ブックマーク数
              </div>
              <div class="tab">
                <i class="far fa-star mr-1"></i>
                レビュー評価
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class = "col-7">
        <div class="content-area">
          <!--新規投稿順-->
          <div class="content show">
            <% @articles.each do |article| %>
              <%= render "public/articles/index", article: article %>
            <% end %>
            <div class = "pagination-sm py-3">
              <%= paginate @articles %>
            </div>
          </div>

          <!--タイムライン順-->
          <div class="content">
            <% if @follow_articles.exists? %>
              <% @follow_articles.each do |article| %>
                <%= render "public/articles/index", article: article %>
              <% end %>
              <div class = "pagination-sm pt-3">
                <%= paginate @follow_articles %>
              </div>
            <% else %>
              <h6 class = "text-center py-5">フォローしているユーザーはいません。</h6>
            <% end %>
          </div>

          <!--ブックマーク数順-->
          <div class="content">
            <% @bookmarks.each.with_index(1) do |article, i| %>
              <%= render "public/articles/index", article: article %>
            <% end %>
            <div class = "pagination-sm py-3">
              <%= paginate @articles %>
            </div>
          </div>

          <!--評価の高い順-->
          <div class="content">
            <% @reviews.each.with_index(1) do |article, i| %>
              <%= render "public/articles/index", article: article %>
            <% end %>
            <div class = "pagination-sm py-3">
              <%= paginate @articles %>
            </div>
          </div>
        </div>
      </div>

      <div class = "col-3">
      <div class = "pb-3"><%= render "public/users/info", user: @user %></div>
        <div class = "card text-center">
          <div class = "rank-title">
            <i class="fas fa-crown mr-2"></i>
            本日のアウトプットランキング
          </div>
          <% if @today_ranks.present? %>
            <table class = "text-center table table-bordered p-2">
              <% @today_ranks.each.with_index(1) do |user, i| %>
                 <%= render "public/ranks/index", user: user['user'], count: user['count'], i: i %>
              <% end %>
            </table>
            <div class = "rank-link py-3">
              <%= link_to "週間・月間のランキングはこちら", rank_path, class: "link"%>
              <i class="far fa-hand-point-right ml-2"></i>
            </div>
          <% else %>
            <p class = "rank-text">投稿者はいません。</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>