<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>みんなのノウハウ</h1>

  <%= link_to "ユーザーランキングはこちら", rank_path %>
  <div class="tab-area">
    <div class="tab active">
      新着投稿
    </div>
    <div class="tab">
       タイムライン
    </div>
    <div class="tab">
      ブックマーク数順
    </div>
    <div class="tab">
      評価の高い順
    </div>
  </div>

<div class="content-area">

   <!--新規投稿順-->
  <div class="content show">
    <% @articles.each do |article| %>
      <%= render "public/articles/index", article: article %>
    <% end %>
    <div class = "pagination-sm">
      <%= paginate @articles %>
    </div>
  </div>

  <!--タイムライン順-->
  <div class="content">
    <% @@follow_articles.each do |article| %>
      <%= render "public/articles/index", article: article %>
    <% end %>
  </div>

  <!--ブックマーク数順-->
  <div class="content">
    <% @bookmarks.each.with_index(1) do |article, i| %>
      <%= render "public/articles/index", article: article %>
    <% end %>
  </div>

  <!--評価の高い順-->
    <div class="content">
      <% @reviews.each.with_index(1) do |article, i| %>
        <%= render "public/articles/index", article: article %>
      <% end %>
    </div>
  </div>
</div>