<div class="container">

  <p id="notice"><%= notice %></p>

  <h1>みんなのノウハウ</h1>
  
  <%= link_to "新しい順", home_path(sort: 'created_at DESC') %> |
  <%= link_to "ブックマーク数順", home_path(sort: 'bookmark.count DESC') %> |
  <%= link_to "評価の多い順", home_path(sort: 'rate DESC') %> |

  <% @articles.each do |article| %>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title"><%= link_to article.title, article %></h4>
          <h6 class="card-subtitle mb-2 text-muted">
          <% article.tags.each do |tag| %>
          <%= tag.tag_name %>
          <% end %>
          </h6>
          <h6 class="card-subtitle mb-2 text-muted"><%= article.sub_title %></h6>
          <p class="card-text"><%= markdown(article.body).html_safe %></p>
      </div>
    </div>
  <% end %>
  <div class = "pagination-sm">
    <%= paginate @articles %>
  </div>
</div>
