<div class="container">

<p id="notice"><%= notice %></p>

<h1>みんなのノウハウ</h1>

<table class = "table table-borderless">
  <thead>
    <tr>
      <th>題名</th>
      <th>タグ</th>
      <th>目的</th>
      <th>内容</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= link_to article.title, article %></td>
        <td>
          <% article.tags.each do |tag| %>
           <%= tag.tag_name %>
          <% end %>
        </td>
        <td><%= article.sub_title %></>
        <td><%= markdown(article.body).html_safe %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
