<div class = "containers">
  <h1>Manuals Post</h1>
  <%= form_with model:@manual,local:true do |f| %>

    <div class="form-group">
      <label for="image">Image</label>
       <%= f.attachment_field :manual_image, class:"form-control image"%>
    </div>

    <div class="form-group">
      <label for="title">Title</label>
       <%= f.text_field :title, class:"form-control title" %>
    </div>

    <div class="form-group">
      <label for="sub_title">Sub_title</label>
       <%= f.text_field :sub_title, class:"form-control sub_title" %>
    </div>

    <div class="form-group">
      <label for="text">Text</label>
       <%= f.text_area :text, class:"form-control text" %>
    </div>

      <%= f.submit 'Post manual', class:"btn btn-secondary bg-success text-white" %>
  <% end %>
</div>
