<div class = "container">
  <% if @user == current_user %>
     <div class = "title text-center">マイページ</div>
  <% else %>
    <div class = "title text-center"><%= @user.nickname %>さんのマイページ</div>
  <% end %>
  
  <div class = "card">
    <div class = "text-center">
      <div class = "my-3"><%= attachment_image_tag @user, :profile_image, fallback: "no-image.png", size:'200x200', class: "rounded-circle"%></div>
      <div class = "user-nickname"><%= @user.nickname %></div>
      <div class = "info-border"></div>
      <div class = "d-flex justify-content-around ml-4 pb-3">
        <div class= "user-box">
          <div><%= @user.articles.count %></div>
          <div class = "text-muted">投稿数</div>
        </div>
        <div class = "user-box">
          <div><%= link_to @user.followings.count, user_followings_path(@user.id), class: "link" %></div>
          <div class = "text-muted">フォロー</div>
        </div>
        <div class = "user-box">
          <div><%= link_to @user.followers.count, user_followers_path(@user.id), class: "link"  %></div>
          <div class = "text-muted">フォロワー</div>
          </div>
      </div>
      <div class = "my-3 user-text"><%= @user.introduction %></div>
      <div>
        <div class = "py-2">
          <%= link_to "プロフィールを編集する", edit_user_path(@user) , class:"btn btn-outline-secondary btn-block"%>
        </div>
        <div class = "py-2">
          <%= link_to "ブックマークした投稿はこちら", article_bookmarks_path(@user.id) , class:"btn btn-outline-secondary btn-block"%>
        </div>
      </div>
    </div>
  </div>
  <div class = "sub_title text-center py-4">投稿一覧</div>
  <div class = "row">
    <div class = "col-2"></div>
    <div class = "col-8">
      <% @articles.each do |article| %>
        <%= render "public/articles/index", article: article %>
      <% end %>
      <div class = "pagination-sm pt-3">
        <%= paginate @articles %>
      </div>
    </div>
  </div>
</div>