
      <%= form_with(model: @article_form, local: true) do |f| %>
        <% if @article_form.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@article_form.errors.count, "error") %> prohibited this article_form being saved:</h2>
            <ul>
              <% @article_form.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <%= f.text_field :title, placeholder: "タイトル", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.text_field :tag_name, placeholder:"タイトルに関連するタグごとに / で区切って入力しよう", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.text_field :sub_title, placeholder: "この記事を書く目的を明確にしよう", class: "form-control" %>
        </div>

        <div class = "row">
          <div class = "col-6">
            <div class="form-group code-block">
              <label class="control-label">本文</label>
              <%= f.text_area :body, id: 'user_answer_code',
                  placeholder: "あなたの仕事のノウハウをMarkdown記法を使ってアウトプットしよう!" ,
                  class: "form-control", size:'10x30' %>
            </div>
          </div>
          <div class = "col-6">
            <div class="form-group code-block">
              <label class="control-label">プレビュー</label>
              <div id="code_markdown">
                <%= f.text_area :body, id: "user_answer_code", class: "form-control", size:'10x30' %>
              </div>
            </div>
          </div>
        </div>

        <div class="actions pb-5 d-inline-block">
          <%= f.submit "アウトプット", class: "btn btn-secondary pl-3" %>
        </div>
      <% end %>