<%= form_with(model: article, local: true) do |f| %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div class="field">
    <%= f.label :tag_names %>
    <%= f.text_field :tag_names, placeholder:",で区切ってください" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
