
  <div class="panel panel-default">
    <div class="panel-body">

      <%= form_with(model: article, local: true) do |f| %>
        <div class="form-group">
        　<%= f.text_field :title, class: "form-control", placeholder: "タイトル" %>
        </div>

        <div class="form-group">
          <%= f.text_field :tag_name, placeholder:"タイトルに関連するタグごとに / で区切って入力しよう", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.text_field :sub_title, class: "form-control", placeholder: "この記事を書く目的を明確にしよう" %>
        </div>

        <div class = "row">
          <div class = "col-6">
            <div class="form-group code-block">
              <label class="control-label">本文</label>
              <%= f.text_area :body, id: 'user_answer_code',
                  placeholder: "あなたの仕事のノウハウをMarkdown記法を使ってアウトプットしよう!" ,
                  class: "form-control", size:'10x30' %>
            </div>
          </div>
          <div class = "col-6">
            <div class="form-group code-block">
              <label class="control-label">プレビュー</label>
              <div id="code_markdown">
                <%= f.text_area :body, id: "user_answer_code", class: "form-control", size:'10x30' %>
              </div>
            </div>
          </div>
        </div>

        <div class="actions">
        <%= f.submit "アウトプット", class: "btn-sm btn-secondary" %>
        </div>
      <% end %>
    </div>
  </div>