<p id="notice"><%= notice %></p>

<h1>Public Articles</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @public_articles.each do |public_article| %>
      <tr>
        <td><%= public_article.title %></td>
        <td><%= public_article.body %></td>
        <td><%= link_to 'Show', public_article %></td>
        <td><%= link_to 'Edit', edit_public_article_path(public_article) %></td>
        <td><%= link_to 'Destroy', public_article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Public Article', new_public_article_path %>
