<div class = "container">
  <div class = "title text-center">Detail</div>
  <div class = "row pb-5">
    <div class = "col-2">
      
    </div>
    <div class = "col-9">
      <div class = "article-text rounded-lg border-dark">
        <div class  = "text-muted article-header">
          <%= link_to @article.user.name, user_path(@article.user.id), class: "link text-muted"%>さんが
          <%= @article.user.created_at.strftime("%Y年%m月%d日") %>に投稿
        </div>
        <div class = "article-title font-weight-bold"><%= @article.title %></div>
        <div class = "py-1"><%= @article.sub_title %></div>
        <div class = "article-header mb-2 text-muted">
          <i class = "fas fa-tags"></i>
          <% @article.tags.each do |tag| %>
            <%= tag.tag_name %>
          <% end %>
        </div>
        <div><%= markdown(@article.body).html_safe %></div>
      </div>
    </div>
  </div>
</div>