<div class = "container pt-5">
  <div class = "text-center">
    <div class = "title pb-4">管理者ログイン</div>
  </div>
  <div class = "shadow text-center">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <%= render "layouts/error_messages", model: f.object %>

    <div class="field py-2">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス" %>
      </div>

    <div class="field py-2">
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field py-2">
        <%= f.check_box :remember_me %>
         <label for="remember_me">ログイン情報を保存</label>
      </div>
    <% end %>

    <div class="actions py-2">
      <%= f.submit "TeachMarket にログイン", class: "btn btn-success" %>
    </div>
  <% end %>

<%= render "admins/shared/links" %>

 </div>
</div>


