<div class = "container pt-5">
  <div class = "text-center">
    <div class = "title pb-4">TeachMarketへログイン</div>
  </div>
  <div class = "shadow text-center">
  <%= form_with model: @user, url: user_session_path, local: true do |f| %>

    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field py-2">
      <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", placeholder: "ユーザー名" %>
    </div>

    <div class="field py-2">
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field py-2">
        <%= f.check_box :remember_me %>
         <label for="remember_me">ログイン情報を保存</label>
      </div>
    <% end %>

    <div class="actions py-2">
      <%= f.submit "TeachMarket にログイン", class: "btn btn-success w-25" %>
    </div>
    <div class = "py-2">
      <%=link_to "Twitterでログインする", user_twitter_omniauth_authorize_path, class: "btn btn-primary fa fa-twitter w-25"%>
    </div>

  <% end %>

  <%= render "devise/shared/links" %>
 </div>
</div>


