<div class = "card">
  <div class = "text-center">
    <div class = "my-3"><%= attachment_image_tag user, :profile_image, format: 'jpeg', fallback: "no-image.png", size:'80x80', class: "rounded-circle"%></div>
    <div class = "username"><%= user.nickname %></div>
    <div class = "info-border"></div>
    <div class = "d-flex justify-content-around ml-4 pb-3">
      <div class= "info-box">
        <div><%= user.articles.count %></div>
        <div class = "text-muted">投稿数</div>
      </div>
      <div class = "info-box">
        <div class="following_count">
          <%= link_to following_user_path(user.id) do %>
            <h5 style="color: black;">フォロー<%= user.following.count %>人</h5>
          <% end %>
        </div>
      </div>
      <div class = "info-box">
        <div class="follower_count">
          <%= link_to followers_user_path(user.id) do %>
            <h5 style="color: black;">フォロワー<%= user.followers.count %>人</h5>
          <% end %>
        </div>
      </div>
    </div>
    <div class = "my-3"><%= user.introduction %></div>
    <div>
      <% if user == current_user %>
        <%= link_to user_path(user) do %>
          <div class="btntextchange"><span><i class="fas fa-house-user"></i></span><span>マイページ</span></div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>












