<% if @user == current_user %>
  <div class = "title text-center">マイページ</div>
<% else %>
  <div class = "title text-center"><%= @user.nickname %>さんのマイページ</div>
<% end %>

<dvi class = "container">
  <div class="text-center px-5">
    <div class = "card pt-5">
        <div class = "text-center">
          <div class = "my-1"><%= attachment_image_tag @user, :profile_image, format: 'jpeg',fallback: "no-image.png", size:'150x150', class: "rounded-circle"%></div>
          <div class = "user-nickname"><%= @user.nickname %></div>
          <div class = "info-border"></div>
          <div class = "d-flex justify-content-around ml-4 pb-3">

            <div class= "user-box">
              <div><%= @user.articles.count %></div>
              <div class = "text-muted">投稿数</div>
            </div>

            <div class="user-box">
              <div class = "follow_count">
                <div><%= link_to @user.followings.count, user_followings_path(@user.id), class: "link" %></div>
              </div>
                <div class = "text-muted">フォロー</div>
            </div>

            <div class="user-box">
              <div class = "follower_count ">
                <div><%= link_to @user.followers.count, user_followers_path(@user.id), class: "link"%></div>
              </div>
                <div class = "text-muted">フォロワー</div>
            </div>

          </div>
          <div class = "my-3 user-text"><%= @user.introduction %></div>
          <div>
            <div class = "py-2">
              <%= link_to user_articles_path do %>
                 <div class="btntextchange"><span><i class="fas fa-book-open"></i></span><span>投稿一覧</span></div>
              <% end %>
            </div>

            <% if @user == current_user %>
              <div class = "py-2">
                <%= link_to  edit_user_path(@user) do %>
                  <div class="btntextchange"><span><i class="fas fa-user-cog"></i></span><span>プロフィール編集</span></div>
                <% end %>
              </div>
              <div class = "py-2">
                <%= link_to article_bookmarks_path(@user) do %>
                   <div class="btntextchange"><span><i class="far fa-bookmark"></i></span><span>ブックマークした投稿</span></div>
                <% end %>
              </div>
            <% else %>
              <div id = "follow_btn">
                <%= render "public/relationships/follow_btn", user: @user %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
  </div>
</dvi>