<div class = "container">
  <% if @user == current_user %>
    <h1>マイページ</h1>
  <% else %>
    <h1><%= @user.nickname %>さんの詳細ページ</h1>
  <% end %>

  <%= attachment_image_tag @user, :profile_image, fallback: "no-image.png", size:"200x200", class: "rounded-circle" %>

  <h5>ニックネーム</h5>
  <%= @user.nickname %>

  <h5>自己紹介</h5>
  <%= @user.introduction %>

  <h5>投稿数</h5>
  <%= @articles.count %>

  <% unless @user == current_user %>
  <div id = "follow_btn">
    <p><%= render "public/relationships/follow_btn", user: @user %></p>
  </div>
  <% end %>

  <h5>フォロー数</h5>
  <p><%= link_to @user.followings.count, user_followings_path(@user.id) %></p>

  <h5>フォロワー数</h5>
  <p><%= link_to @user.followers.count, user_followers_path(@user.id) %></p>

  <% if @user == current_user %>
    <%= link_to "ブックマークした投稿はこちら", article_bookmarks_path(@user.id) , class:"btn btn-outline-secondary"%>
    <%= link_to "", edit_user_path(current_user) , class:"btn btn-outline-secondary fas fa-user-cog"%>
  <% end %>


  <h3>投稿一覧</h3>
    <% @articles.each do |article| %>
     <%= render "public/articles/index", article: article %>
    <% end %>
  </div>
  <div class = "pagination-sm">
    <%= paginate @articles %>
  </div>
</div>
